[submodule "t2av-compass/Objective/Audio/NISQA"]
	path = t2av-compass/Objective/Audio/NISQA
	url = https://github.com/gabrielmittag/NISQA.git

[submodule "t2av-compass/Objective/Audio/audiobox-aesthetics"]
	path = t2av-compass/Objective/Audio/audiobox-aesthetics
	url = https://github.com/facebookresearch/audiobox-aesthetics.git

[submodule "t2av-compass/Objective/Similarity/LatentSync"]
	path = t2av-compass/Objective/Similarity/LatentSync
	url = https://github.com/bytedance/LatentSync.git

[submodule "t2av-compass/Objective/Video/DOVER"]
	path = t2av-compass/Objective/Video/DOVER
	url = https://github.com/VQAssessment/DOVER.git

[submodule "t2av-compass/Objective/Video/aesthetic-predictor-v2-5"]
	path = t2av-compass/Objective/Video/aesthetic-predictor-v2-5
	url = https://github.com/discus0434/aesthetic-predictor-v2-5.git
